<div class="row mt-5">
  <div class="col">
    <img src="<%= entry.photo %>" width="80%">
  </div>

  <div class="col">
    <h1>Your Latest Walk</h1>

    <p>On <%= entry.walkDate.toUTCString() %>, you took a walk in a <%= entry.location %> area.</p>

    <p>Here are some of the things you saw:</p>

    <ul>
      <%  entry.identifications.map((id) => { %>
        <li> <%= id %> </li>
      <% }) %>
    </ul>

    <p>This is what you said about the walk:</p>
    <p><%= entry.comments %></p>

    <div class="mt-5">
      <a href="/diary/remove/<%= entry._id %>">Remove Entry</a>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col">
    <a href="/diary">Back to Walks</a>
  </div>
</div>
